@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

html {
  font-size: 10px;
  font-family: "Iropke Batang",serif;
  letter-spacing: -0.03em;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #707070;
}
body * {box-sizing: border-box;}

/* reset */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul, ol {
  margin:0;
  padding: 0;
  list-style: none;
}
dl {
  margin-top: 0;
  margin-bottom: 0;
}
dd {margin-left: 0;}
figure {margin: 0;}
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: #324546;
  border-bottom: 1px solid #324546;
}
img {vertical-align: top;}

/* common style */
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0);
  clip-path: polygon(0, 0);
  overflow: hidden;
}
.row:after, .row::after, .clearfix:after, .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
::selection {
  color: #fff;
  background: #90AE51;
}

/* layout */
.wrap {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-"] {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.col-1 {width: 70px;}
.col-2 {width: 160px;}
.col-3 {width: 250px;}
.col-4 {width: 340px;}
.col-5 {width: 430px;}
.col-6 {width: 520px;}
.col-7 {width: 610px;}
.col-8 {width: 700px;}
.col-9 {width: 790px;}
.col-10 {width: 880px;}
.col-11 {width: 970px;}
.col-12 {width: 1060px;}

[class*="pre-"], [class*="post-"] {position: relative;}

.pre-1 {left: 90px;}
.pre-2 {left: 180px;}
.pre-3 {left: 270px;}
.pre-4 {left: 360px;}
.pre-5 {left: 450px;}
.pre-6 {left: 540px;}
.pre-7 {left: 630px;}
.pre-8 {left: 720px;}
.pre-9 {left: 810px;}
.pre-10 {left: 900px;}
.pre-11 {left: 990px;}
.pre-12 {left: 1080px;}

.post-1 {left: -90px;}
.post-2 {left: -180px;}
.post-3 {left: -270px;}
.post-4 {left: -360px;}
.post-5 {left: -450px;}
.post-6 {left: -540px;}
.post-7 {left: -630px;}
.post-8 {left: -720px;}
.post-9 {left: -810px;}
.post-10 {left: -900px;}
.post-11 {left: -990px;}
.post-12 {left: -1080px;}

.prefix-1 {margin-left: 90px;}
.prefix-2 {margin-left: 180px;}
.prefix-3 {margin-left: 270px;}
.prefix-4 {margin-left: 360px;}
.prefix-5 {margin-left: 450px;}
.prefix-6 {margin-left: 540px;}
.prefix-7 {margin-left: 630px;}
.prefix-8 {margin-left: 720px;}
.prefix-9 {margin-left: 810px;}
.prefix-10 {margin-left: 900px;}
.prefix-11 {margin-left: 990px;}
.prefix-12 {margin-left: 1080px;}

.suffix-1 {margin-right: 110px;}
.suffix-2 {margin-right: 200px;}
.suffix-3 {margin-right: 290px;}
.suffix-4 {margin-right: 380px;}
.suffix-5 {margin-right: 470px;}
.suffix-6 {margin-right: 560px;}
.suffix-7 {margin-right: 650px;}
.suffix-8 {margin-right: 740px;}
.suffix-9 {margin-right: 830px;}
.suffix-10 {margin-right: 920px;}
.suffix-11 {margin-right: 1010px;}
.suffix-12 {margin-right: 1100px;}


/* typography */
h1, h2, h3, h4, h5, h6, p {margin-bottom: 2.4rem;}

h1, h2, h3, h4, h5, h6, .subTitle1, .subTitle2 {
  font-weight: 500;
}
.h1 {font-size: 6rem;}
.h2 {font-size: 4.8rem;}
.h3 {font-size: 4rem;}
.h4 {font-size: 3.2rem;}
.h5 {font-size: 2.4rem;}
.h6 {font-size: 2rem;}
.subTitle1, .body1 {font-size: 1.6rem;}
.subTitle2, .body2 {font-size: 1.4rem;}
.caption {font-size: 1.2rem;}
.overline {font-size: 1rem;}

/* color */
.textColorMain {color: #90AE51;}
.textColorMainLight {color: #B6CD3F;}
.textColorMainDeep {color: #294212;}
.textColorPoint {color: #324546;}
.textColorSub {color: #1C314F;}
.textColorPrimary {color: #202020;}
.textColorSecondary {color: #707070;}

/* color 
main: #90AE51;
main_light: #B6CD3F;
main_deep: #294212;
point: #324546;
sub: #1C314F;
primary: #202020;
secondary: #707070;
*/

/* button */

[class*="btn-"] {
  display: inline-flex;
  border-radius: 8px;
}
.btn-ghost {
  color: #1C314F;
  background-color: transparent;
  border:1px solid #1C314F;
}
.btn-fill {
  color: #fff;
  background-color: rgba(50, 69, 70, .8);
}
.btn-ghost-white {
  background-color: rgba(255, 255, 255, 0.5);
  color: #324546;
}
.btn-small {
  padding: 8px 16px;
  font-size: 1.6rem;
}
.btn-large {
  padding: 12px 24px;
  font-size: 2rem;
}
[class*="icon_360"] {
  display: inline-block;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon_360 {
  width: 28px;
  height: 28px;
  background-image: url('../images/ico_360.png');
}
.icon_360_white {
  width: 24px;
  height: 24px;
  background-image: url('../images/ico_360_white.png');
}