@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

html {
  font-size: 10px;
  font-family: "Iropke Batang",serif;
  letter-spacing: -0.025em;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 0;
  color: #324546;
}
body * {box-sizing: border-box;}

/* reset */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul, ol {
  margin:0;
  padding: 0;
  list-style: none;
}
dl {
  margin-top: 0;
  margin-bottom: 0;
}
dd {margin-left: 0;}
figure {margin: 0;}
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img {vertical-align: top;}

/* common style */
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0);
  clip-path: polygon(0, 0);
  overflow: hidden;
}
.row:after, .row::after, .clearfix:after, .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
::selection {
  color: #fff;
  background: #90AE51;
}

/* color */
.textColorMain {color: #90AE51;}
.textColorMainLight {color: #B6CD3F;}
.textColorMainDeep {color: #294212;}
.textColorPointLight {color: #3e5a5b};
.textColorPoint {color: #324546;}
.textColorPointDeep {color: #27393a;};
.textColorSub {color: #1C314F;}
.textColorPrimary {color: #202020;}
.textColorSecondary {color: #707070;}

/*
main: #90AE51;
main_light: #B6CD3F;
main_deep: #294212;
point: #324546;
sub: #1C314F;
primary: #202020;
secondary: #707070;
*/

/* layout */
.wrap {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* PC (해상도 1080px ~)*/
@media all and (min-width:1080px) {
  .container {width: 1080px;}
  [class*="col-"] {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  .col-1 {width: 90px;}
  .col-2 {width: 180px;}
  .col-3 {width: 270px;}
  .col-4 {width: 360px;}
  .col-5 {width: 450px;}
  .col-6 {width: 540px;}
  .col-7 {width: 630px;}
  .col-8 {width: 720px;}
  .col-9 {width: 810px;}
  .col-10 {width: 900px;}
  .col-11 {width: 990px;}
  .col-12 {width: 1080px;}

  .prefix-1 {margin-left: 90px;}
  .prefix-2 {margin-left: 180px;}
  .prefix-3 {margin-left: 270px;}
  .prefix-4 {margin-left: 360px;}
  .prefix-5 {margin-left: 450px;}
  .prefix-6 {margin-left: 540px;}
  .prefix-7 {margin-left: 630px;}
  .prefix-8 {margin-left: 720px;}
  .prefix-9 {margin-left: 810px;}
  .prefix-10 {margin-left: 900px;}
  .prefix-11 {margin-left: 990px;}
  .prefix-12 {margin-left: 1080px;}
}

/* 테블릿 가로 (해상도 768px ~ 1079px)*/
@media all and (min-width:768px) and (max-width:1079px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  [class*="col-"] {width: initial;}
  [class*="m-col-"] {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-col-1 {width: 12.5%;}
  .m-col-2 {width: 25%;}
  .m-col-3 {width: 37.5%;}
  .m-col-4 {width: 50%;}
  .m-col-5 {width: 62.5%;}
  .m-col-6 {width: 75%;}
  .m-col-7 {width: 87.5%;}
  .m-col-8 {width: 100%;}

  .m-prefix-1 {margin-left: 12.5%;}
  .m-prefix-2 {margin-left: 25%;}
  .m-prefix-3 {margin-left: 37.5%;}
  .m-prefix-4 {margin-left: 50%;}
  .m-prefix-5 {margin-left: 62.5%;}
  .m-prefix-6 {margin-left: 75%;}
  .m-prefix-7 {margin-left: 87.5%;}
  .m-prefix-8 {margin-left: 100%;}
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  [class*="col-"] {width: initial;}
  [class*="m-col-"] {width: initial;}
  [class*="s-col-"] {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  .s-col-1 {width: 25%;}
  .s-col-2 {width: 50%;}
  .s-col-3 {width: 75%;}
  .s-col-4 {width: 100%;}

  .s-prefix-1 {margin-left: 25%;}
  .s-prefix-2 {margin-left: 50%;}
  .s-prefix-3 {margin-left: 75%;}
  .s-prefix-4 {margin-left: 100%;}
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  [class*="col-"] {width: initial;}
  [class*="m-col-"] {width: initial;}
  [class*="s-col-"] {width: initial;}
  [class*="xs-col-"] {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  .xs-col-1 {width: 50%;}
  .xs-col-2 {width: 100%;}

  .xs-prefix-1 {margin-left: 50%;}
  .xs-prefix-2 {margin-left: 100%;}
}

/* Typography */
body, p {font-size: 1.6rem;}
h1, h2, h3, h4, h5, h6, .subTitle1, .subTitle2 {font-weight: 500;}
.caption {font-size: 1.2rem;}
.overline {font-size: 1rem;}

/* PC (해상도 1080px ~)*/
@media all and (min-width:1080px) {
  h1, h2, h3, h4, h5, h6, p {margin-bottom: 2.4rem;}
  .h1 {font-size: 6rem;}
  .h2 {font-size: 4.8rem;}
  .h3 {font-size: 4rem;}
  .h4 {font-size: 3.2rem;}
  .h5 {font-size: 2.4rem;}
  .h6 {font-size: 2rem;}
}

/* 테블릿 가로 (해상도 768px ~ 1079px)*/
@media all and (min-width:768px) and (max-width:1079px) {
  h1, h2, h3, h4, h5, h6, p {margin-bottom: 2rem;}
  .h1 {font-size: 4.8rem;}
  .h2 {font-size: 4rem;}
  .h3 {font-size: 3.2rem;}
  .h4 {font-size: 2.4rem;}
  .h5 {font-size: 2rem;}
  .h6 {font-size: 1.6rem;}
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
  h1, h2, h3, h4, h5, h6, p {margin-bottom: 1.6rem;}
  .h1 {font-size: 4.8rem;}
  .h2 {font-size: 4rem;}
  .h3 {font-size: 3.2rem;}
  .h4 {font-size: 2.4rem;}
  .h5 {font-size: 2rem;}
  .h6 {font-size: 1.6rem;}
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
  body, p {font-size: 1.4rem;}
  h1, h2, h3, h4, h5, h6, p {margin-bottom: 1.2rem;}
  .h1 {font-size: 3.6rem;}
  .h2 {font-size: 3.2rem;}
  .h3 {font-size: 2.4rem;}
  .h4 {font-size: 2rem;}
  .h5 {font-size: 1.6rem;}
  .h6 {font-size: 1.4rem;}
}

/* button */
[class*="btn-"] {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
}
.btn-ghost {
  color: #1C314F;
  background-color: transparent;
  border:1px solid #1C314F;
}
.btn-fill {
  color: #fff;
  background-color: rgba(50, 69, 70, .8);
}
.btn-ghost-white {
  background-color: rgba(255, 255, 255, 0.5);
  color: #324546;
}
[class*="icon_360"] {
  display: inline-block;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn-small {padding: 0.5em 1em;}
.btn-large {padding: 0.75em 1.5em;}
.icon_360 {
  width: 28px;
  height: 28px;
  background-image: url('../images/ico_360.png');
}
.icon_360_white {
  width: 24px;
  height: 24px;
  background-image: url('../images/ico_360_white.png');
}

/* PC, 테블릿 가로 (해상도 768px ~ )*/
@media all and (min-width:768px) {
  .btn-small, .btn-large {line-height: 1.5;}
  .btn-small {font-size: 1.6rem;}
  .btn-large {font-size: 2rem;}
}

/* 모바일, 테블릿 세로 (해상도 ~ 767px)*/
@media all and (max-width:767px) {
  .btn-small, .btn-large {line-height: 1.2;}
  .btn-small {font-size: 1.4rem;}
  .btn-large {font-size: 1.6rem;}
}
