/* 공용 */
.wrap {position: relative;}

/* nav */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #1C314F;
  border-bottom: 1px solid rgba(0, 0, 0, .0);
  transition: all 200ms ease-in;
  z-index: 500;
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 215px;
  height: 50px;
  margin-bottom: 0;
  padding-top: 50px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  transition: all 200ms ease-out;
}
.logo:hover {
  transform: scale(1.1);
  transition: all 200ms ease-out;
}
.menu {
  text-align: right;
  flex-grow: 1;
}
.menu li {display: inline-block;}
.menu a {
  display: block;
  margin: 0 1em;
  padding: 1em 0.5em;
  border-bottom: 2px solid transparent;
}
.menu a:hover {border-bottom: 2px solid rgba(28,49,79, 0.5);}
.nav.scroll {
  padding-top: 0;
  color: rgba(255, 255, 255, .7);
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
  transition: all 200ms ease-in;
}
.nav.scroll .menu a {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.nav.scroll .menu a:hover {
  border-bottom-color: rgba(255, 255, 255, .5);
  color: #fff;
}

/* visual */
.visual {
  position: relative;
  height: 100vh;
  background-image: url('../images/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.visual .mainText {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  color: #1C314F;
}
.visual h3 {
  order:1;
  width: 100%;
}
.visual p {width: 100%;}
.visual a {
  order: 2;
  position: relative;
  transition: all 200ms ease-out;
}
.visual a:hover {
  color: #fff;
  background-color: rgba(28, 49, 49, .5);
  border-color: rgba(28, 49, 49, .6);
  transition: all 200ms ease-out;
}

/* inJeju */
.inJeju {
  text-align: center;
  background-image: url('../images/inJeju_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.jejuMap {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.jejuMap img {max-width: 100%;}
.jejuMap .dot {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #f0f0f0;
}
.jejuMap .dot1 {
  left: 86px;
  bottom: 86px;
}
.jejuMap .dot2 {
  left: 176px;
  bottom: 92px;
}
.jejuMap .dot3 {
  left: 240px;
  bottom: 120px;
}
.jejuMap .dot.active {background-color:  #B6CD3F;}
.jejuMap .dot.active:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f0f0f0;
  animation: aniHover 0.9s cubic-bezier(.17,.67,.83,.67) infinite;}
@keyframes aniHover {
  from {
    transform: scale(1);
    opacity: .9; }
  to {
    transform: scale(5);
    opacity: 0; } 
}
.terroir li {
  position: relative;
  display: inline-block;
  padding: 0.5em 3em 0;
  text-align: center;
  border-right: 1px solid rgba(50, 69, 70, .3);
}
.terroir li:last-child {border-right: none;}
.terroir h3 {cursor: pointer;}
.terroir h3 span:first-child {
  display: block;
  color:#3e5a5b;
}
.terroir h3 span:last-child {
  display: inline-block;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid #3e5a5b00;
}
.terroir h3:hover span:last-child {border-bottom: 3px solid #3e5a5b;}
.terroirInfo {
  position: absolute;
  display: none;
}

/* 서광차밭 */
.teaGarden {
  background-image: url('../images/teaGarden_bg.jpg');
  background-size: cover;
  text-align: center;
  color: #fff;
}
.teaGarden h3, .teaGarden p {text-shadow: 0 0 5px rgba(0, 0, 0, .1);}
.teaGarden p {line-height: 2;}
.teaGarden .btn-ghost-white {
  position: relative;
  margin-top: 2.4rem;
  padding: 8px 20px;
}
.terroirExplanation, .teaGardenExplanation {
  max-width: 752px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

/* VR Tour */
.vrTour .row {
  display: flex;
  flex-wrap: wrap;
}
.vrTour .row:last-child {margin-bottom: 0;}
.vrTour .explanation > h3 {color: #27393a;}
.explanation {
  position: relative;
  padding: 0.5em 1em;
}
.explanation.left {text-align: right;}
.explanation.right {order:1;}

/* teaser 영상 */
.teaser {background-color: #202020;}
.teaser .responseFrame {
  position:relative;
  padding:56.25% 0 0 0;
}
.teaser iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* team 소개 */
.team {text-align: center;}
.team .title {
  height: 1.5em;
  padding-top: 1.5em;
  background-image: url('../images/teamLogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
.member {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.member > li {
  display: flex;
  padding: 1em 1em 1.5em;
  border-radius: 16px;
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
  text-align: center;
}
.member h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 1.6rem;
  padding-top: 0.5em;
  padding-right: 2.4rem;
}
.member h3::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url('../images/leaf.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.member .contactInfo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #707070;
}
.member .contactInfo a {
  opacity: .85;
  transition: all 200ms ease;
}
.member .contactInfo a:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 200ms ease;
}
.icon_mail, .icon_facebook, .icon_instagram {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon_mail {background-image: url('../images/icon_mail.png');}
.icon_facebook {background-image: url('../images/icon_facebook.png');}
.icon_instagram {background-image: url('../images/icon_instagram.png');}


.footer {
  background-color: #f6f6f6;
  text-align: center;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
}
.footer h2, .footer p, .footer ul {width: 100%;}
.footer h2.title {order: 1;}
.footer p.title {
  order: 0;
  margin-bottom: 0;
}
.footer p, .footer ul {order: 2;}
.footer p {margin-bottom: 0.4rem;}

.footer .link {
  display: flex;
  justify-content: center;
}
.footer .link a {
  display: block;
  padding: 4px;
  border-bottom: 1px solid transparent;
  opacity: 0.9;
  transition: all 200ms ease;
}
.footer .link img {width: auto;}
.footer .link a:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 200ms ease;
}
.footer p a:hover {text-decoration: underline;}
.btn_top {
  display: block;
  position: fixed;
  overflow: hidden;
  background-image: url('../images/btnTop.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 500;
  transition: all 200ms ease-in;
}
.btn_top:focus {outline: none;}


/* PC (해상도 1080px ~)*/
@media all and (min-width:1080px) {
  .nav {padding-top: 4rem;}
  .visual .mainText {height: 394px;}
  .visual p {margin-bottom: 1.6rem;}
  .visual a {margin-top: 4rem;}
  /* content 영역 top, bottom padding */
  .inJeju, .teaGarden, .vrTour, .teaser, .team, .footer {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
    
  /* inJeju */
  .inJeju .title {margin-bottom: 8rem;}
  .terroir {
    margin-top: 8rem;
    margin-bottom: 6.4rem;
  }
  .teaGarden {
    padding-top: 24rem;
    padding-bottom: 8rem;
  }

  /* VR Tour */
  .vrTour .row {margin-bottom: 8rem;}
  .explanation.left {padding-left: 0;}
  .explanation.right {padding-right: 0;}
  /* team 소개 */
  .member {margin-top: 5.6rem;}
  .member > li {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 30%;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .member > li ul {width: 100%;}
  .member h3::after {
    top: 8px;
    right: -24px;
    width: 40px;
    height: 40px;
  }
  .icon_mail, .icon_facebook, .icon_instagram {
    width: 2em;
    height: 2em;
    margin: 0 1em;
    padding-top: 2.5em;
  }

  /* footer */
  .footer .link {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .footer .link li {margin: 0 5.6rem;}
  .footer .link img {height: 36px;}
  .footer p.copyright {margin-top: 2.4rem;}
  .btn_top {
    bottom: -50px;
    right: 80px;
    width: 4em;
    height: 3em;
    padding-top: 3em;
  }
}

/* 테블릿 가로 (해상도 768px ~ 1079px)*/
@media all and (min-width:768px) and (max-width:1079px) {
  .tHidden {display: none;}
  .nav {padding-top: 3.2rem;}
  .visual .mainText {
    height: 330px;
    padding-left: 8px;
  }
  .visual p {margin-bottom: 1.2rem;}
  .visual a {margin-top: 3.2rem;}
  /* content 영역 top, bottom padding */
  .inJeju, .teaGarden, .vrTour, .teaser, .team, .footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
    
  /* inJeju */
  .inJeju .title {margin-bottom: 6.4rem;}
  .terroir {
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;
  }

  /* 서광차밭 */
  .teaGarden {
    padding-top: 16rem;
    padding-bottom: 8rem;
  }

  /* VR Tour */
  .vrTour .row {margin-bottom: 6rem;}
  .explanation.left {padding-left: 0;}
  .explanation.right {padding-right: 0;}
  
  /* teaser */
  /* height 607px */

  /* team 소개 */
  .member {margin-top: 4.8rem;}
  .member > li {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 30%;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .member > li ul {width: 100%;}

  .member h3::after {
    top: 0;
    right: -16px;
    width: 32px;
    height: 32px;
  }
  .icon_mail, .icon_facebook, .icon_instagram {
    width: 2em;
    height: 2em;
    margin: 0 1em;
    padding-top: 2.5em;
  }

  /* footer */
  .footer .link {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
  .footer .link li {margin: 0 4.8rem;}
  .footer .link img {height: 32px;}
  .footer p.copyright {margin-top: 2.4rem;}
  .btn_top {
    right: 40px;
    width: 3em;
    height: 2.5em;
    padding-top: 2.5em;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 767px)*/
@media all and (max-width:767px) {
  .mHidden {display: none;}
  .nav {padding-top: 2.4rem;}
  .nav .container {flex-wrap: wrap;}
  .logo {
    width: 180px;
    height: 40px;
    padding-top: 35px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu li {
    flex-grow: 1;
    text-align: center;
  }
  .menu a, .nav.scroll .menu a  {
    margin: 0 0.5em;
    padding: 1em;
  }
  .nav.scroll {padding-top: 1em;}
  .visual .mainText {
    height: 301px;
    padding-left: 8px;
  }
  .visual p {margin-bottom: 1.2rem;}
  .visual a {margin-top: 2.4rem;}

  /* content 영역 top, bottom padding */
  .inJeju, .teaGarden, .vrTour, .teaser, .team, .footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  /* inJeju */
  .inJeju .title {margin-bottom: 4.8rem;}
  .terroir {
    width: 95%;
    margin: 4.8rem auto 3.2rem;
  }
  .terroir li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0.5em;
    border-right: none;
    border-bottom: 1px solid rgba(50, 69, 70, .3);
  }
  .terroir li:last-child {border-bottom: none;}
  .terroir li h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  
  .terroir li h3 span, .terroir li h3 span:last-child, .terroir li h3:hover span:last-child {
    display: inline-block;
    border-bottom: none;
  }
  .terroir li h3 span:first-child {padding-right: 0.5em;}
  .terroir li h3 {border-bottom: 2px solid #3e5a5b00;}
  .terroir li h3:hover {border-bottom: 2px solid #3e5a5b;}
  .terroirExplanation {
    width: 95%;
    max-width: initial;
  }
  
  /* 서광차밭 */
  .teaGarden {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }

  /* VR tour */
  .vrTour .row {margin-bottom: 4rem;}
  .explanation.left, .explanation.right {
    order: 1;
    padding-top: 1em;
    text-align: left;
  }
  .explanation h3 {
    margin-top: 0.4rem;
    margin-bottom: 1.6rem;
  }
  .explanation a {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  /* teaser */
  /* height 432px */

  /* team 소개 */
  .member {
    width: 100%;
    max-width: 480px;
    margin: 4rem auto 0;
  }
  .member > li {
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 0.8rem;
    padding: 1em 1em 1.25em;
  }
  .member h3 {margin-bottom: 0;}
  .member h3::after {
    top: 0;
    right: -16px;
    width: 32px;
    height: 32px;
  }
  .icon_mail, .icon_facebook, .icon_instagram {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em;
    padding-top: 2em;
  }

  /* footer */
  .footer .link {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
    margin: 2rem auto 4rem;
  }
  .footer .link li {margin: 0;}
  .footer .link img {height: 28px;}
  .footer p.copyright {margin-top: 1.6rem;}
  .btn_top {display: none;}
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
  .mHidden {display: none;}
  .nav {padding-top: 1.6rem;}
  .visual .mainText {
    height: 237px;
    padding-left: 8px;
  }
  .visual p {margin-bottom: 0.8rem;}
  .visual a {margin-top: 1.6rem;}
  /* content 영역 top, bottom padding */
  .inJeju, .teaGarden, .vrTour, .teaser, .team, .footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
    
  /* inJeju */
  .inJeju .title {margin-bottom: 3.2rem;}
  .jejuMap {width: 320px;}
  .terroir {
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
  }

  /* 서광 차밭 */
  .teaGarden {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
  .jejuMap .dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
  }
  .jejuMap .dot1 {
    left: 70px;
    bottom: 70px;
  }
  .jejuMap .dot2 {
    left: 138px;
    bottom: 73px;
  }
  .jejuMap .dot3 {
    left: 190px;
    bottom: 97px;
  }
  /* VR tour */
  .vrTour .row {margin-bottom: 2rem;}

  /* teaser */
  /* height 270px */

  /* team 소개 */
  .member {margin-top: 3.2rem;}
  .member h3::after {
    top: 0px;
    right: -8px;
    width: 24px;
    height: 24px;
  }

  /* footer */
  .footer .link {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .footer .link li {margin: 0 0.8rem;}
  .footer .link img {height: 20px;}
  .footer p.copyright {margin-top: 1.6rem;}
}