/* navigation */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 4rem;
  color: #1C314F;
  border-bottom: 1px solid rgba(0, 0, 0, .0);
  transition: all 200ms ease-in;
  z-index: 500;
}
.logo {
  display: flex;
  align-items: center;
  height: 79px;
}
.logo a {
  display: block;
  width: 215px;
  height: 50px;
  margin: 0;
  padding-top: 50px;
  overflow: hidden;
  align-self: center;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.menu {text-align: right;}
.menu li {display: inline-block;}
.menu a {
  display: block;
  margin: 0.8rem 1.6rem;
  padding: 16px 8px;
  border-bottom: 2px solid transparent;
}
.menu a:hover {
  color: #1C314F;
  border-bottom: 2px solid rgba(28,49,79, 0.5);
}
.nav.scroll {
  padding: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
  transition: all 200ms ease-in;
}
.nav.scroll .logo {margin-bottom: 0;}
.nav.scroll .menu a:hover {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, .5);
}

/* visual */
.visual {
  position: relative;
  height: 100vh;
  background-image: url('../images/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.mainText {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 372px;
  margin: auto;
  color: #1C314F;
}
.mainText p {margin-bottom: 1.6rem;}
.mainText span {display: block;}
.mainText a {
  position: relative;
  margin-top: 4rem;
}
.visual .btn-ghost:hover::after {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 12px;
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(28, 49, 49, .9);
}
.visual .btn-ghost:hover {
  color: inherit;
  border: 1px solid #1C314F;
}

/* content 영역 top, bottom padding */
.inJeju, .vrTour, .teaser, .team {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

/* in JEJU */
.inJeju {
  text-align: center;
  background-image: url('../images/inJeju_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #324546;
}
.inJeju .title {margin-bottom: 8rem;}
.inJeju .terroir {
  margin-top: 8rem;
  margin-bottom: 6.4rem;
}
.terroir li {
  position: relative;
  display: inline-block;
  padding: 8px 60px 0;
  text-align: center;
  border-right: 1px solid rgba(50, 69, 70, .3);
}
.terroir li:last-child {border-right: none;}
.terroir .dot {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #dedede;
}
.terroir .teaGarden1 .dot {
  top: -180px;
  left: 287px;
}
.terroir .teaGarden2 .dot {
  top: -184px;
  left: 113px;
}
.terroir .teaGarden3 .dot {
  top: -212px;
  left: -106px;
}
.terroir h3 {
  margin-bottom: 0;
  padding: 0 4px 6px;
  border-bottom: 4px solid transparent;
}
.terroir p {
  display: inline-block;
  margin-bottom: 0.8rem;
}
.terroir button {
  background-color: transparent;
  color: inherit;
}
.terroir button h3, .terroir button p {
  width: 100%;
  margin-bottom: 0;
}
.terroir button p {padding-bottom: 0.8rem;}
.terroir button:hover h3, .terroir .active button h3 {border-bottom: 4px solid rgba(50, 69, 70, .5);}
.terroir button:focus {outline: none;}
.terroir button.popupBtn:hover + .dot {background-color: #b6cd3f;}
.terroir button.popupBtn:hover + .dot::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #dedede;
  animation: hoverAni 900ms cubic-bezier(0,0,.58,1) infinite;
}
@keyframes hoverAni {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
.terroir li .teaGardenInfo {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 640px;
  height: 300px;
  margin: auto;
  padding: 44px 32px 32px;
  text-align: justify;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.terroir li .teaGardenInfo h3 {
  margin-bottom: 2.4rem;
  text-align: center;
}
.terroir li .teaGardenInfo + .popupBg {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9000;
}
.terroir .btnPopupClose {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding-top: 24px;
  background: url("../images/ico_close.png") no-repeat;
  background-size: cover;
  overflow: hidden;
}
.terroir li.active .teaGardenInfo {display: block;}
.terroir li.active .teaGardenInfo + .popupBg {display: block;}

/* vrTour */
.vrTour .row {margin-bottom: 10rem;}

/* 서광차밭 */
.teaGarden {
  padding-top: 30rem;
  padding-bottom: 8rem;
  background-image: url('../images/teaGarden_bg.jpg');
  background-size: cover;
  text-align: center;
  color: #fff;
}
.teaGarden h3, .teaGarden p {text-shadow: 0 0 5px rgba(0, 0, 0, .1);}
.teaGarden p {
  line-height: 2;
}
.teaGarden .btn-ghost-white {
  position: relative;
  margin-top: 2.4rem;
  padding: 8px 20px;
}

.teaGarden .btn-ghost-white:hover {
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: transparent;
}
.teaGarden a:hover::after {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 6px;
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(50, 69, 70, 1);
}

.vrTour .explanation {
  position: relative;
  height: 322px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.vrTour .explanation.left {
  text-align: right;
  padding-right: 16px;
}
.vrTour .explanation.right {padding-left: 16px;}

.vrTour .explanation a.btn-fill {
  position: absolute;
  bottom: 16px;
}
.vrTour .explanation.right a.btn-fill {left: 16px;}
.vrTour .explanation.left a.btn-fill {right: 16px;}
.vrTour .explanation a:hover {
  color: #fff;
  background-color: rgba(50, 69, 70, 1);
}
.vrTour .explanation a:hover::after {
  position: absolute;
  left: 14px;
  right: 14px;
  bottom: 8px;
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, .5);
}


/* team 영상 */
.teaser {background-color: #202020;}

/* 팀 소개 */
.team {
  text-align: center;
  color: #324546;
}

.team h2 {
  height: 80px;
  padding-top: 80px;
  background-image: url('../images/teamLogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.member {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5.6rem;
}
.member > li {
  width: 30%;
  margin-left: 8px;
  margin-right: 8px;
  padding: 16px 16px 24px;
  border-radius: 16px;
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
  text-align: center;
}

.member h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-right: 24px;
}
.member h3::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -24px;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../images/leaf.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.member .info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  color: #707070;
}

.icon_mail, .icon_facebook, .icon_instagram {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 8px;
  padding-top: 24px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} 
.icon_mail {background-image: url('../images/icon_mail.png');}
.icon_facebook {background-image: url('../images/icon_facebook.png');}
.icon_instagram {background-image: url('../images/icon_instagram.png');}

/* footer */
.footer {
  padding: 80px 0 40px;
  background-color: #f6f6f6;
  text-align: center;
  color: #324546;
}
.footer p {margin-bottom: 0.4rem;}
.footer .copy {margin-top: 2.4rem;}
.footer .link {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.footer .link li {margin: 0 5.6rem;}
.footer .link a {
  display: block;
  padding: 4px;
  border-bottom: 1px solid transparent
}
.footer .link img {
  width: auto;
  height: 36px;
}
.footer .link a:hover {border-bottom: 1px solid rgba(50, 69, 70, 0.5);}


.btn_top {
  display: block;
  position: fixed;
  bottom: -50px;
  right: 80px;
  width: 71px;
  height: 50px;
  padding-top: 50px;
  overflow: hidden;
  background-image: url('../images/btnTop.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 500;
  transition: all 200ms ease-in;
}
.btn_top:focus {outline: none;}


@media screen and (max-width: 1079px) {
  .nav {padding: 0.8rem 0;}
  .nav .logo {
    height: 74px;
    margin-bottom: 0;
  }
  .menu a {
    padding-left: 0;
    padding-right: 0;
  }
  .terroir li {
    padding-left: 24px;
    padding-right: 24px;
  }
  /* mainText */
  .mainText h3 {line-height: 1.4;}
  .mainText p {margin-bottom: 0.8rem;}
  .mainText a {margin-top: 2.4rem;}
  /* content 영역 top, bottom padding */
  .inJeju, .vrTour, .teaser, .team {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .inJeju .title {margin-bottom: 5.6rem;}
  .inJeju .terroir {
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;
  }
  .terroir .teaGarden1 .dot {
    top: -162px;
    left: 168px;
  }
  .terroir .teaGarden2 .dot {
    top: -166px;
    left: 55px;
  }
  .terroir .teaGarden3 .dot {
    top: -196px;
    left: -47px;
  }
  .teaGarden {padding-top: 20rem;}
  .vrTour .explanation.left {padding-right: 24px;}
  .vrTour .explanation.right {padding-left: 24px;}
  .vrTour .explanation {
    height: initial;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 480px) {
  .nav .logo {height: 40px;}
  .nav .logo a {
    width: 120px;
    height: 32px;
    padding-top: 32px;
  }
  .menu {text-align: center;}
  .menu a {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .terroir li {border: none;}
  .vrTour .row {
    display: flex;
    flex-wrap: wrap;
  }
  .vrTour .row > img {order: 0;}
  .vrTour .row .explanation {
    order: 1;
    padding-top: 16px;
    text-align: center;
  }
  .vrTour .row .explanation.left, .vrTour .row .explanation.right {text-align: center;}
  .member > li {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer .link {flex-wrap: wrap;}
  .footer .link li {
    margin-bottom: 16px;
  }
}